<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de vehiculos</title>
    <link rel="stylesheet" href="css/reveh.css">
</head>
<body>
    <nav></nav>
    <div class="container">
        <form action="" method="post" >
            <label for="plate">Placa</label><br>
            <input type="text" name="plate" id="plate"><br>
            <label for="placeofplate">Lugar de expedicion De la placa</label><br>
            <input type="text" name="placeofplate" id="placeofplate"><br>
            <label for="brand">Marca</label><br>
            <select required autofocus name="brand" id="brand">
                <option value="#">seleccionar</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Suzuki">Suzuki</option>
                <option value="Volvo">Volvo</option>
                <option value="BMW">BMW</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="Subaru">Subaru</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Ford">Ford</option>
                <option value="Honda">Honda</option>
                <option value="Mazda">Mazda</option>
                <option value="Toyota">Toyota</option>
                <option value="Renault">Renault</option>
                <option value="Mitsubishi">Mitsubishi</option>
                <option value="Mercedes-Benz">Mercedes-Benz</option>
                <option value="Isuzu">Isuzu</option></select><br>
            <label for="model">Modelo</label><br>
            <input type="text" name="model" id="model"><br>
            <label for="year">Año</label><br>
            <input type="number" name="year" id="year"><br>
            <label for="iduser">Id del usuario propietario</label><br>
            <input type="number" name="iduser" id="iduser">
año
        </form>
    </div>
</body>
</html>